.product {
    &__top {
        margin: 20px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        &-link {
            img {
                width: 60px;
                height: 60px;
                padding: 5px;
                background: rgb(214, 164, 54);
                border-radius: 10px;
                box-shadow: 5px 10px 20px 0 rgba(211, 209, 216, 0.3);
                cursor: pointer;
                &:hover {
                    background: white;
                }
            }
        
        }
        &-cart {
               width: 100px;
               height: 100px;
               padding: 10px;
               background: rgb(214, 164, 54);
               border-radius: 10px;
               box-shadow: 5px 10px 20px 0 rgba(211, 209, 216, 0.3);
               cursor: pointer;
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 8px;
               &:hover {
                background: white;
               } 
            img {
               width: 60px; 
               height: 60px;
                
            }
            &-text {
                color: black;
                text-align: center;
                font-size: 20px;
            }
        }
    }
    &__item {
        background: white;
        border-radius: 20px;
        padding: 16px;
        margin: 10px;
        &-top {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            &-title {
                font-size: 30px;
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
            &-text {
                font-size: 18px;
            }
            &-price,
            &-discount,
            &-disprice {
                font-size: 20px;
            }
            &-price {
                text-decoration: line-through;
            }
        }
    }
}

.swiper {
    max-width: 400px;
    width: 100%;
    &-slide {
        width: 280px;
        display: flex;
        justify-content: center;
        img {
            width: 100%;
            height: 600px;
            border-radius: 16px;
            object-fit: contain;
        }
    }

}