.sidebar {
  width: 20%;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    width: 100%;
    height: auto;
    align-items: center; 
  }

  @media (max-width: 500px) {
    width: 100%;
    padding: 16px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 320px; 
  }
}
