.search {
    display: flex;
    &__box {
        position: relative;
        &-input {
            border: 1px solid #efefef;
            border-radius: 10px 0 0 10px;
            width: 200px;
            height: 50px;
            background: #fcfcfd;
            padding: 5px 30px 5px 20px;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            color: #9aa0b4;
            &::placeholder {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                color: #9aa0b4;
            }
        }
        &-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15%;
            cursor: pointer;
        }
        &-btn {
            border: 1px solid #efefef;
            border-radius: 0 10px 10px 0;
            width: 50px;
            height: 50px;
            background: #9aa0b4;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}