@import './font.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    max-width: 2100px;
    background: linear-gradient(90deg, #F5D27A 0%, #EF9430 100%);
    height: 100vh;
    font-family: 'Exo';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main__bg {
    width: 100%;
}

.main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    @media (max-width: 700px) {
        flex-direction: column;
        gap: 10px;
    }
    &-quantity {
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #252525;
        @media(max-width: 500px) {
            font-size: 16px;
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
    &-shipping {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #252525;
        @media(max-width: 500px) {
            font-size: 16px;
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
    &-support {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #252525;
        @media(max-width: 500px) {
            font-size: 16px;
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}
